{
  "extends": "airbnb",
  "env": {
      "browser": true,
      "jquery": true
  },
  "globals":{
    "chrome" : false
  },
  "rules": {
    "default-case": 0,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "no-console": 0,
    "no-param-reassign": [2,{
        "props":false
    }],
    "max-len": [1, { "code": 130 }],
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }]
  }
}
