* {
    box-sizing: border-box;
}

form {
    text-align: center;
}

.setting_item {
    height: 30px;
    font-size: 14px;
    line-height: 19px;
    margin: 10px 0;
}
.setting_item label {
    padding-right: 15px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    line-height: 30px;
    text-align: left;

}
.setting_item input {
    padding: 3px 5px;
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: 100%;
}

button#save {
    margin: 15px auto;
    display: block;
}

#status-container {
  height: 14px;
}

#status {
    display: none;
    width: 100%;
    height: auto;
}
