body {
    overflow: hidden;
    margin: 0px;
    padding: 10px 20px;
    background: white;
    width: 300px;
}

body *{
    box-sizing: border-box;
}

.header{
    text-align: center;
    font-size: 16px;
    color: rgb(0, 4, 137);
    margin-bottom: 10px;
}

label, input{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

input[type="button"]{
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
}