/* Always show the scrollbar on Mac
SOURCE: https://davidwalsh.name/osx-overflow */
::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;
}

::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0,0,0,.5);
   -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

body {
    overflow: hidden;
    margin: 0;
    background: white;
}

body *{
    box-sizing: border-box;
}

.header{
    text-align: center;
    font-size: 16px;
    color: #9B59B6;
    margin-bottom: 10px;
}

h1{
    font-size: 16px;
    line-height: 20px;
    margin: 5px 0;
    display: inline-block;
}

label, input{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    vertical-align: middle;
    width: initial;
}

input[type="button"]{
    margin: 10px auto 5px;
    padding: 8px 14px;
    display: block;
    text-transform: uppercase;
    background: #9B59B6;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
}

textarea {
    width: 100%;
}

.popup-container {
    padding: 10px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 500px;
    width: 350px;
}

#metadata-form {
    position: relative;
}

#status-message {
    width: 100%;
    box-shadow: 3px 3px 5px rgba(50,50,50,0.2);
    transition: margin-left .75s ease-in-out;
    margin-left: 110%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
}
#status-message div:first-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
}
#status-message div.content {
    position: relative;
    padding: 15px 10px;
    background: rgba(0, 255, 243, 0.2);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.questionmark {
  content: url(../questionmark.svg);
  width: 12px;
  height: 12px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
